*{
  margin: 0;
}
/** HEADER **/
header{
  text-align: center;
}
header img{
  height: 127px; 
  margin-top: 29px;
}
/** NAV **/
nav{
  text-align: center;
  margin-bottom: 47px;
}
nav ul, nav li{
  display: inline;
  list-style: none;
  font-weight: bold;
  font-size: 1.35em;
}
nav ul {
  overflow: hidden;
}
li a, .menu-drop-button{
  display: inline-block;
  color: #f7f7f7;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
li a:hover, .menudrop:hover .menu-drop-button{
  background-color: #3967b4;
}
li.menudrop{
  display: inline-block;
}
.menu-drop-links{
  display: none;
  position: absolute;
  background-color: #555555;
  min-width: 150px;
  z-index: 1;
}
.menu-drop-links a{ 
  color: #f7f7f7;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.menu-drop-links a:hover{
  background-color: #767676;
}
.menudrop:hover .menu-drop-links{
  display: block;
}
/** BODY **/
body{
  font-family: Helvetica, Arial, sans-serif; 
  background-color: #434343;
  color: #f7f7f7;
}
/* Following are other font sizes */
h1{
  font-size: 3em;
}
h2{
  font-size: 2.6em;
}
h3{
  font-size: 2.5em;
}
p{
  font-size: 1.35em;
  line-height: 1.5em;
}
/* Hyperlinks */
a{
  color: #afc2e1;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  background-color: #3967b4;
  color: #f7f7f7;
}
/** CONTACT PAGE SPECIFICS **/
.contact-links li{
  font-size: 1.35em;
}
