*{
  margin: 0;
}
/** HEADER **/
header{
  text-align: center;
}
header img{
  height: 127px; 
}
/** NAV **/
nav ul, nav li{
  display: inline;
  list-style: none;
  font-weight: bold;
  font-size: 1.35em;
}
/** BODY **/
body{
  font-family: Helvetica, Arial, sans-serif; 
  background-color: #434343;
  color: #f7f7f7;
}
/* Following are other font sizes */
h1{
  font-size: 3em;
}
h2{
  font-size: 2.6em;
}
h3{
  font-size: 2.5em;
}
p{
  font-size: 1.35em;
  line-height: 1.1em;
}
